<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome to Battle</h1>
<form action='/game' method='post'>
<input type='text' id='textbox1' name='player1' placeholder='Player 1 name'>
<input type='text' id='textbox2' name='player2' placeholder='Player 2 name'>
<input type='submit' id='submit' value='Submit'>
</form>
</body>
</html>